body {
    background-color: darkgray;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input {
    width: 100vh;
    height: 6vh;
    text-align: center;
    font-size: 2em;
    margin-bottom: 3vh;
}

form {
    margin-bottom: 13vh;
}

label {
    font-size: 2.5em;
    color: aliceblue;
    text-justify: newspaper;
}

canvas{
    position: absolute;
    height: 80vh;
    width: 80vw;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container { 
    position: absolute;
    height: 100%;
    width: 100%;
    border: 20px black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 10;
}

canvas{
    position: absolute;
}

#titleScreen{
    position: absolute;
    height: 80vh;
    width: 80vw;
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleScreen h1{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-stretch: expanded;
    font-size: 9em;
    margin: 0px;
    margin-bottom: 8vh;
    text-decoration: underline wavy orange;

}
#loading {
    position: absolute;
    height: 80vh;
    width: 80vw;
    background-color: rgb(36, 36, 36);
    display: none;
    color: white;
    text-align: center;
    justify-content: center;
    display: none;
    align-items: center;
  
}
#loading div{
    justify-content: center;
    font-size: 8em;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The player buttons don't do anything useful at the moment but our button for start makes an API call to Chat GPT based on topic in the form */
.buttons{
    width: 15vw;
    height: 8vh;
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 900;
    outline: .5vh rgb(160, 1, 213) solid;
    background: linear-gradient(rgb(149, 11, 144), rgba(255, 255, 255, 0));
    border-radius: 4px;
    margin-left: .5vw;
    margin-right: .5vw;
}

.buttons:hover{
    width: 18vw;
    height: 10vh;
}

.buttons:active{
    background: linear-gradient(rgb(255, 111, 0), rgba(255, 255, 255, 0));
    outline: .5vh rgb(213, 89, 1) solid;
}
/* The classes below are handling the background wrapping container for our floating ghosts that were originally ghosts*/
.wrapper{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgb(189, 60, 9) 0%, rgb(0, 0, 0) 35%, rgb(107, 0, 122) 70%);
}

/* For all the circles we are going to make them 10 percent of the viewport with a given image */
.circle div{
    position: absolute;
    height: 10vh;
    width: 10vh;
    background-image: url("Images/Ghost.png");
    background-size:contain;
}

.circle div:nth-child(1){
    top: 27%;
    left: 2%;
    animation: animate 10s linear infinite;
}
.circle div:nth-child(2){
    top: 2%;
    left: 4%;
    animation: animate 9s linear infinite;
}
.circle div:nth-child(3){
    top: 80%;
    left: 3%;
    animation: animate 19s linear infinite;
}
.circle div:nth-child(4){
    top: 38%;
    left: 96%;
    animation: animate 13s linear infinite;
}
.circle div:nth-child(5){
    top: 5%;
    left: 100%;
    animation: animate 6s linear infinite;
}
.circle div:nth-child(6){
    top: 99%;
    left: 90%;
    animation: animate 15s linear infinite;
}
.circle div:nth-child(7){
    top: 98%;
    left: 12%;
    animation: animate 13s linear infinite;
}
.circle div:nth-child(8){
    top: 95%;
    left: 40%;
    animation: animate 6s linear infinite;
}
.circle div:nth-child(9){
    top: 88%;
    left: 70%;
    animation: animate 14s linear infinite;
}

@keyframes animate {
    0%{
        transform: scale(0) translateY(0) translateX(5vw) rotate(0);
        opacity: 0;
    }
    50%{
        transform: scale(1.3) translateY(-10vh) rotate(20deg);
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-20vh) rotate(-20deg);
        opacity: 0;
    }
}

#titleScreen{
    position: absolute;
    height: 80vh;
    width: 80vw;
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
}

#titleScreen h1{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-stretch: expanded;
    font-size: 9em;
    margin: 0px;
    margin-bottom: 8vh;
    text-decoration: underline wavy orange;
}

#playerCount{
    margin-bottom: 7vh;
}
